html {
    background-color: #EBEBEB;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
}
/*HOMEPAGE CSS*/
.navbar {
    background: rgb(0, 0, 0);
    font-family: calibri;
    padding: 0 2em; /* Padding on both sides for spacing */
    padding-top: 2.5em;
    padding-bottom: 2em;
    
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the flex items horizontally */
    position: relative; /* Create a containing block for absolute positioning */
}

.navdiv > div {
    position: absolute; /* Position the logo absolutely */
    left: 0; /* Align the logo to the left */
}

.nav-list1 {
    display: flex;
    list-style: none;
    margin: 0; /* Remove default margin */
    padding-left: 21em; /* Remove default padding */
    justify-content: center; /* Center the list items */
    flex: 1;
}

.nav-list2{
    display: flex;
    list-style: none;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    justify-content: right; /* Center the list items */
}

.navdiv li {
    margin-right: 3em; /* Space between list items */
}

.navdiv li:last-child {
    margin-right: 0; /* Remove margin for the last item */
}

a {
    color: white;
    text-decoration: none;
}

.list-item {
    font-size: 1.6em;
    font-weight: bold;
    padding: .7em;
}

.logo {
    width: 9em;
}

.logo-link {
    display: inline-block;
}

.navdiv a:hover{
    color: #3F9C0C;
   cursor: grabbing;

}